<table>

  <tr bgcolor= "#aec6cf">
    <th colspan="2"><%= @cat.name.upcase %></th>
  </tr>

  <tr>
    <td><b>Sex</b></td>
    <td><%= @cat.sex %></td>
  </tr>

  <tr>
    <td><b>Birth date</b></td>
    <td><%= @cat.birth_date %></td>
  </tr>

  <tr>
    <td><b>Color</b></td>
    <td><%= @cat.color %></td>
  </tr>

  <tr>
    <td><b>Description</b></td>
    <td><%= @cat.description %></td>
  </tr>
</table>
