<h1><%= @album.name %></h1>

<h3>Tracks</h3>

<% @album.tracks.each do |album| %>
  <ul>
    <li> <%= album.name %> </li>
  </ul>
<% end %>

<h3>Links</h3>

<ul>
  <li> <%= link_to "New Track" %> </li>
  <li> <%= link_to "Edit Band", edit_band_url %> </li>
  <li> <%= link_to "Delete Band", band_url, method: :delete %> </li>
</ul>
